.card {
    background-color: #fff;
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
    height: 100%;
    margin-bottom: 5rem;
    background-color: rgba(55, 33, 17, 0.43);
    border-radius: 25px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

.name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.price {
    font-size: 16px;
    margin-bottom: 10px;
}

.book-button {
    width:100%;
}

.location {
    font-size: 18px;
    padding: 10px;
    border-radius: 25px;
    margin-bottom: 1rem;
    font-palette: --Green;
}