.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.search-input {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    width: 100%;
    border: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    margin-bottom: 0;
}

.search-button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #00ccff;
    color: white;
    margin-left: 10px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #0088b3;
}
