.search-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search-input {
    margin:0;
}

.search-button {
    font-size:16px;
    padding:10px;
    height:100%;
    margin-left: 1rem;
    cursor: pointer;
    background-color: green;
}

.search-button:hover {
    background-color: white;
}
