.booking-form {
    display: flex;
    flex-direction: column;
    width:100%;
}

.booking-form .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem 0;
}

.booking-form .form-group{
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
}

.booking-form .form-group+.form-group{
    margin-left: 3rem;
}

.booking-form label {
    margin-bottom: 0.5rem;
}

.booking-form input {
    padding: 0.5rem;
    border: none;
    font-size: 1rem;
    margin-bottom: 1rem;
    width: 100%;

}

input[type="text"]:focus,
select:focus,
input[type="datetime-local"]:focus {
    outline: none;
    border-color: #555;
}

.booking-form select {
    height:100%;
    padding: 0.5rem;
    border: none;
    font-size: 1rem;
    margin-bottom: 1rem;
    width: 100%;
}

input:disabled {
    background-color: #f0f0f0;
    color: #666;
}

.booking-form .submit-button {
    padding: 1rem 1rem;
    background-color: #00ccff;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1rem;
}

.booking-form .submit-button:hover {
    background-color: #0088b3;
}