.parking-management {
    padding: 20px;
    margin: 20px;
    width: 100%;
    background-color: rgba(55, 33, 17, 0.19);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

.tab-panel {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tab-panel .active {
    background-color: greenyellow;
}

.tab-content {
    padding: 20px;
}