.profile-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #00ccff;
    margin-right: 20px;
    cursor: pointer;
}

.profile-icon {
    font-size: 24px;
    color: #fff;
}