.user-card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.user-card .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}

.user-card .grid-item {
    display: flex;
    flex-direction: column;
}

.user-card label {
    text-align: left;
}

.user-card input {
    text-align: left;
}