.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signup-form {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 30px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

.signup-form h1 {
    margin-bottom: 30px;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.signup-form label {
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: left;
    width: 100%;
}

.signup-form input {
    height: 30px;
    width: 100%;
    margin-bottom: 30px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

.signup-form select {
    height: 30px;
    width: 100%;
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

.btn-sign-up {
    background-color: #00ccff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 100%;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}

.btn-sign-up:hover {
    background-color: #0088b3;
}

.btn-go-to-sign-in {
    background-color: transparent;
    color: #00ccff;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

.btn-go-to-sign-in:hover {
    color: #0088b3;
}

.arrow {
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 15px 10px 0;
    border-color: transparent #00ccff transparent transparent;
    margin-right: 10px;
}

.arrow:hover {
    border-color: transparent #0088b3 transparent transparent;
}

