.signup-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100vh;
}

.signup-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 40px;
    border-radius: 25px;
    background-color: rgba(55, 33, 17, 0.19);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

.signup-form input {
    width:100%;
}

.signup-form select {
    width: 100%;
}

.signup-form label {
    text-align: left;
    width:100%;
}

.signup-form .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem 0;
}

.signup-form .form-group {
    display: flex;
    flex-direction: column;
    align-items: start;
    height:100%;
}

.signup-form .form-group+.form-group {
    margin-left: 3rem;
}

input[type="text"]:focus,
select:focus,
input[type="datetime-local"]:focus {
    outline: none;
    border-color: #555;
    background-color: #fff;
}