.add-parking-form {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="number"],
input[type="text"] {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.button-group {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

button {
    margin-left: 10px;
}

.cancel {
    background-color: #ddd;
    color: #333;
}

.save {
    background-color: #4CAF50;
    color: white;
}

.parking-card-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.4);
    padding: 20px;
    text-align: center;
    margin-bottom: 25px;
}