.add-parking-form {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

button + button {
    margin-left: 1rem;
}

.button-group {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.cancel {
    background-color: #ddd;
    color: #333;
}

.save {
    background-color: #4CAF50;
    color: white;
}

.parking-card-container {
    margin-top: 3rem;
    padding: 40px;
    background-color: rgba(55, 33, 17, 0.33);
    border-radius: 25px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);

}