.signin-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signin-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 40px;
    border-radius: 25px;
    background-color: rgba(55, 33, 17, 0.19);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

.arrow {
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 15px 10px 0;
    border-color: transparent #8c4a2c transparent transparent;
    transition: all 0.3s ease-in-out;
    margin-right: 10px;
}

.arrow:hover {
    border-color: transparent white transparent transparent;
}
