.slot-card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.slot-card .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}

.slot-card .grid-item {
    display: flex;
    flex-direction: column;
}

.slot-card label {
    text-align: left;
}

.slot-card input {
    text-align: left;
    border:none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);

}

.slot-card select {
    border: none;
    width:100%;
    font-size: 14px;
    border-radius: 3px;
    color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);

}